$header-background-color: #032D38;
$body-background-color: #FFF;

$font-title-color: #FFF;

$font-body-primary-color: #0B4051;
$font-body-secondary-color: #00586F;
$font-body-terciary-color: #0EA0C0;
$font-body-warning-label: #5E6263;
$icon-color : #FFF;

$input-border-color: #D8D8D8;
$background-item-table: #E5E5E566;

$button-success-color: #73D852;
$button-cancel-color: #0EA0C0;

$content-padding: 0 4rem;